<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redo.codeforfun.model.dao.UserDao">
    <resultMap type="com.redo.codeforfun.model.UserDO" id="userDO">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />

    </resultMap>

    <sql id="Base_column_list">
        id,name,age
    </sql>

    <select id="getById" resultMap="userDO">
        SELECT
        <include refid="Base_column_list" />
        FROM user WHERE
        id=#{id}
    </select>
</mapper>